Repository unicsmcr/hs_hub, pull requests merged in 2018-10, with the labels that each got.

#11 Back end
  .gitignore
  .travis.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  CONTRIBUTORS.md
  README.md
  back-end/.env.example
  back-end/CHANGELOG.md
  back-end/CONTRIBUTORS.md
  back-end/README.md
  back-end/jest.config.js
  back-end/launch_production.sh
  back-end/nodemon.json
  back-end/package-lock.json
  back-end/package.json
  back-end/src/app.ts
  back-end/src/controllers/index.ts
  back-end/src/controllers/testController.ts
  back-end/src/db/entity/User.ts
  back-end/src/db/entity/index.ts
  back-end/src/routes/index.ts
  back-end/src/routes/testRouter.ts
  back-end/src/server.ts
  back-end/src/sum.ts
  back-end/test/e2e/controllers/testController.test.ts
  back-end/test/unit/sum.test.ts
  back-end/tsconfig.json
  front-end/CHANGELOG.md
  front-end/CONTRIBUTORS.md
  front-end/README.md
Labels: back-end

#13 Cache
  .travis.yml
  CHANGELOG.md
  back-end/CHANGELOG.md
  back-end/package-lock.json
  back-end/package.json
  back-end/src/app.ts
  back-end/src/db/entity/index.ts
  back-end/src/db/entity/user.ts
  back-end/src/server.ts
  back-end/src/sum.ts
  back-end/src/util/cache/README.md
  back-end/src/util/cache/abstract-classes/cacheCollection.ts
  back-end/src/util/cache/abstract-classes/cacheObject.ts
  back-end/src/util/cache/abstract-classes/index.ts
  back-end/src/util/cache/cache.ts
  back-end/src/util/cache/index.ts
  back-end/src/util/cache/models/collections/index.ts
  back-end/src/util/cache/models/collections/usersCacheCollection.ts
  back-end/src/util/cache/models/objects/index.ts
  back-end/src/util/cache/models/objects/userCached.ts
  back-end/test/e2e/controllers/testController.test.ts
  back-end/test/unit/app.test.ts
  back-end/test/unit/sum.test.ts
  back-end/test/unit/util/cache/cache.test.ts
  back-end/test/unit/util/cache/models/collections/usersCacheCollection.test.ts
  back-end/test/unit/util/cache/models/objects/userCached.test.ts
  back-end/tsconfig.json
Labels: back-end

#14 User system
  CHANGELOG.md
  back-end/.env.example
  back-end/CHANGELOG.md
  back-end/CONTRIBUTORS.md
  back-end/package-lock.json
  back-end/package.json
  back-end/src/app.ts
  back-end/src/controllers/index.ts
  back-end/src/controllers/testController.ts
  back-end/src/controllers/userController.ts
  back-end/src/db/entity/applicationUser.ts
  back-end/src/db/entity/index.ts
  back-end/src/db/entity/user.ts
  back-end/src/routes/homeRouter.ts
  back-end/src/routes/index.ts
  back-end/src/routes/mainRouter.ts
  back-end/src/routes/testRouter.ts
  back-end/src/routes/userRouter.ts
  back-end/src/server.ts
  back-end/src/util/cache/models/collections/usersCacheCollection.ts
  back-end/src/util/cache/models/objects/userCached.ts
  back-end/src/util/errorHandling/apiError.ts
  back-end/src/util/errorHandling/errorHandler.ts
  back-end/src/util/errorHandling/httpResponseCode.ts
  back-end/src/util/user/authLevels.ts
  back-end/src/util/user/authorization.ts
  back-end/src/util/user/index.ts
  back-end/src/util/user/passportLocalStrategy.ts
  back-end/src/util/user/userValidation.ts
  back-end/test/e2e/controllers/testController.test.ts
  back-end/test/e2e/controllers/userController.test.ts
  back-end/test/e2e/controllers/util/user/authorization.test.ts
  back-end/test/unit/app.test.ts
  back-end/test/unit/util/cache/models/collections/usersCacheCollection.test.ts
  back-end/test/unit/util/cache/models/objects/userCached.test.ts
  back-end/test/unit/util/user/userValidation.test.ts
Labels: back-end

#15 Fix tests for newer versions of mysql due to typeorm column constraints
  back-end/test/e2e/controllers/util/user/authorization.test.ts
  back-end/test/unit/util/cache/models/collections/usersCacheCollection.test.ts
  back-end/test/unit/util/cache/models/objects/userCached.test.ts
Labels: back-end, bug

#18 Cache (getElements)
  back-end/package-lock.json
  back-end/src/util/cache/abstract-classes/cacheCollection.ts
  back-end/test/unit/util/cache/models/collections/usersCacheCollection.test.ts
Labels: enhancement
