Repository unicsmcr/hs_hub, pull requests merged in 2018-11, with the labels that each got.

#20 Hardware library
  CHANGELOG.md
  back-end/CHANGELOG.md
  back-end/src/app.ts
  back-end/src/controllers/hardwareController.ts
  back-end/src/controllers/index.ts
  back-end/src/db/entity/hardwareItem.ts
  back-end/src/db/entity/index.ts
  back-end/src/db/entity/reservedHardwareItem.ts
  back-end/src/db/entity/user.ts
  back-end/src/routes/hardwareRouter.ts
  back-end/src/routes/index.ts
  back-end/src/routes/mainRouter.ts
  back-end/src/util/hardwareLibrary/hardwareItemToken.ts
  back-end/src/util/hardwareLibrary/hardwareItemValidation.ts
  back-end/src/util/hardwareLibrary/index.ts
  back-end/test/e2e/controllers/hardwareController.test.ts
  back-end/test/unit/util/user/userValidation.test.ts
Labels: back-end

#33 Add option to reserve, take and return mulitple items of same type
  back-end/src/controllers/hardwareController.ts
  back-end/src/db/entity/reservedHardwareItem.ts
  back-end/src/util/hardwareLibrary/hardwareItemToken.ts
  back-end/src/util/hardwareLibrary/hardwareItemValidation.ts
Labels: back-end, enhancement

#34 Challenges system
  back-end/src/app.ts
  back-end/src/controllers/challengesController.ts
  back-end/src/controllers/index.ts
  back-end/src/db/entity/hub/challenge.ts
  back-end/src/db/entity/hub/index.ts
  back-end/src/routes/challengesRouter.ts
  back-end/src/routes/index.ts
  back-end/src/routes/mainRouter.ts
  back-end/src/util/cache/cache.ts
  back-end/src/util/cache/models/collections/challengesCacheCollection.ts
  back-end/src/util/cache/models/collections/index.ts
  back-end/src/util/cache/models/objects/challengeCached.ts
  back-end/src/util/cache/models/objects/index.ts
Labels: back-end, cached

#39 Team management system
  back-end/src/controllers/teamController.ts
  back-end/src/db/entity/applications/applicationTeam.ts
  back-end/src/db/entity/applications/applicationUser.ts
  back-end/src/db/entity/applications/index.ts
  back-end/src/routes/index.ts
  back-end/src/routes/mainRouter.ts
  back-end/src/routes/teamRouter.ts
  back-end/src/util/team/index.ts
  back-end/src/util/team/teamValidation.ts
  back-end/src/util/user/passportLocalStrategy.ts
  back-end/src/util/user/userValidation.ts
Labels: back-end

#40 Emergency contacts
  back-end/src/controllers/achievementsController.ts
  back-end/src/controllers/homeController.ts
  back-end/src/public/img/contacts/adela.jpg
  back-end/src/public/img/contacts/alex.jpg
  back-end/src/public/img/contacts/anda.jpg
  back-end/src/public/img/contacts/ben.jpg
  back-end/src/public/img/contacts/delia.jpg
  back-end/src/public/img/contacts/denisa.jpg
  back-end/src/public/img/contacts/gabija.jpg
  back-end/src/public/img/contacts/hacksoc.png
  back-end/src/public/img/contacts/iqrah.jpg
  back-end/src/public/img/contacts/joe.png
  back-end/src/public/img/contacts/luke.jpg
  back-end/src/public/img/contacts/raluca.jpg
  back-end/src/public/img/contacts/undefined.jpg
  back-end/src/public/js/qrInterface.js
  back-end/src/routes/homeRouter.ts
  back-end/src/views/pages/contacts.ejs
  back-end/src/views/partials/navbar.ejs
  back-end/src/views/partials/qrScanner.ejs
Labels: QR-interface, front-end

#41 Add achievements page
  back-end/src/controllers/homeController.ts
  back-end/src/routes/achievementsRouter.ts
  back-end/src/routes/homeRouter.ts
  back-end/src/views/pages/achievements.ejs
Labels: front-end

#44 Login page
  README.md
  package-lock.json
  src/controllers/homeController.ts
  src/controllers/userController.ts
  src/public/img/devPostLogo.png
  src/public/img/faces/avatar.jpg
  src/public/img/faces/card-profile1-square.jpg
  src/public/img/faces/card-profile2-square.jpg
  src/public/img/faces/marc.jpg
  src/public/js/login.js
  src/views/pages/achievements.ejs
  src/views/pages/admin.ejs
  src/views/pages/contacts.ejs
  src/views/pages/dashboard.ejs
  src/views/pages/hardware.ejs
  src/views/pages/login.ejs
Labels: front-end

#47 Fix login form and camera selection for QR scanner on mobile
  src/public/css/login-style.css
  src/public/js/qrInterface.js
Labels: bug

#48 Logout button
  src/controllers/userController.ts
  src/views/partials/navbar.ejs
Labels: back-end, front-end
